# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo
*.egg-info/
*.egg
*.log

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
