{% extends "base.html" %}

{% block content %}
  <h1>Drivers: </h1>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Driver</th>
      <th>Username</th>
      <th>First name</th>
      <th>License number</th>
    </tr>
    </thead>
  
    {% for driver in drivers %}
      <tr>
        <th>{{ forloop.counter }}</th>
        <th>{{ driver.username }}</th>
        <th>{{ driver.first_name }}</th>
        <th>{{ driver.license_number }}</th>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
