{% extends "base.html" %}

{% block title %}
  <title>Taxi</title>
{% endblock %}

{% block content  %}
  <ul class="list-group content">
    <li class="list-group-item d-flex justify-content-between align-items-center">Number of cars: {{ num_cars }}</li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Number of drivers: {{ num_drivers }}</li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Number of manufacturers: {{ num_manufacturers }}</li>
  </ul>
{% endblock %}
