body {
    margin: 20px;
    background-color: burlywood;
    font-family: Book Antiqua;

}
.sidebar-nav {
    padding: 0;
    list-style: none;
}
p {
    padding-left: 10px;
    font-size: larger;
}
h1, h3 {
    color: navy;
}