body {
    padding: 30px;
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}

li{
    margin-bottom: 5px;
}
.sidebar-nav li{
    margin-bottom: 10px;
}

.sidebar-nav {
    font-size: 20px;
    padding: 0;
    list-style: none;
}

a{
    color: #ffffff;
}

a:hover {
    color: lawngreen;
    text-decoration: none;
}

.col-sm-9{
    margin-top: 10px;
}
