body {
    padding-top: 60px;
    background-color: #5b80b2;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.sidebar ul li {
    display: inline;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
}


.sidebar ul li a:hover {
    color: #f0a500;
}
