body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  display: flex;
  min-height: 100vh;

  flex-direction: row;
  background: whitesmoke;

}

main {
  flex-grow: 1;
  padding: 20px;
}

.container {
  width: 500px;
  margin: 0 auto;
  border: black solid;
}

.title {
  color: black;
  background-color: orange;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.sidebar {
  font-size: 1.2rem;
  text-align: center;
  width: 250px;
  height: 100%;
  position: sticky;
  top: 0;
  border: black solid;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__li {
    border: solid black;
}

.sidebar__link {
  display: block;
  font-size: 18px;
  color: #007bff;
  background-color: white;
  text-decoration: none;
  padding: 10px 5px;
  text-align: center;
}

.sidebar__link:hover {
  text-decoration: underline;
}

.sidebar__link:active {
  color: orange;
}