body {
    display: flex;
    font-family: sans-serif;
    margin: 0;
}

#sidebar {
    width: 200px;
    background-color: #f4f4f4;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #ddd;
}

#content {
    padding: 20px;
    flex-grow: 1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}