body {
    margin: 0;
    padding: 0;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}