body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: aquamarine;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: #720c79;
}

.nav a:hover {
    text-decoration: underline;
}

.stats {
    padding: 10px 15px;
    width: fit-content;
    margin: 40px auto;
    text-align: center;
}

.stats ul {
    list-style: none;
}
