body {
    font-family: Unispace, Arial, sans-serif;
}
.sidebar {
    font-family: Unispace, Arial, sans-serif;
    padding: 10px;
    width: 200px;
    float: left;
}
.content {
    font-family: Unispace, Arial, sans-serif;
    margin-left: 220px;
    padding: 10px;
}
