body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page {
    min-height: 100vh;
    display: flex;
    color: #ffffff;
}

.page-title {
    text-align: center;
}

.sidebar {
    width: 150px;
    background-color: #000000;
}

.statistic {
    padding: 0 20px;
    flex-grow: 1;
}

.menu {
    width: 100%;
}

.menu-item {
    height: 40px;
    background-color: #000000;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
}

.nav-link:active {
    color: #0000cc;
}

.nav-link:hover {
    background-color: #333333;
}

.info-list {
    margin: 40px auto;
    padding: 10px;
    border: 1px solid #ffffff;
    max-width: 400px;
}

.info-list_item {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}