.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    background-color: #e7e7e7;
    border-radius: 10px;
    text-align: center;
}

h1, h3 {
    margin-top: 20px;
    text-align: center;
}