.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    float: left;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}
