body {
    margin-top: 20px;
    background: lightgrey;
}

a {
    color: black;
    font-size: 17px;
    background: white;
}

.sidebar_nav {
    padding: 2px;
    list-style: none;
    margin-top: 15px;
    white-space: nowrap;
}

h1 {
    margin-top: 15px;
}

.content {
    margin-top: 10px;
    font-size: 20px;
}

.sidebar {
    margin-bottom: 15px;
}