head {
    padding: 0.5em 0;
    text-align: center;
}

body {
    /*background-image: url(https://www.ukrainianinpoland.pl/wp-content/uploads/2022/11/taxi.jpg);*/
    background-size: cover;
    margin-top: 20px;
    padding:  10px;
}

.title {
    text-align: center;
    text-shadow: 2px 2px 4px white;
    color: gold;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 10px;
}

.nav_bar {
    display: inline-block;
    color: gold;
    line-height: 2.5;
}

.time {
    display: inline-block;
    margin-left: 900px;
    color: greenyellow;
}

.title_content {
    background-color: rgba(255,255,255,0.6);
    color: black;
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;
}

.main_info {
    display: block;
    background-color: rgba(255,255,255,0.6);
    color: black;
    border-radius: 10px;
    font-weight: bold;
}


