
#sidebar {
    width: 200px;
    height: 800px;
    background-color: #f8f9fa;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}


#sidebar .nav-link {
    color: black !important; /* !important щоб перекрити bootstrap кольори */
    background-color: #e9ecef; /* світло-сірий фон */
    margin-bottom: 0.3rem;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    gap: 8px; /* простір між іконкою і текстом */
    font-weight: 500;
    transition: background-color 0.3s ease;
}


#sidebar .nav-link:hover,
#sidebar .nav-link.active {
    background-color: #bcd4e6;
    color: black !important;
    text-decoration: none;
}

#sidebar .nav-link i {
    font-size: 1.2rem;
}
