body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

#sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 10px 0;
    height: 100vh;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li a {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background-color: #575757;
}

#content {
    flex-grow: 1;
    padding: 20px;
}
