*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
  margin: 0;
  padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14px;

    background-color: #fff;
    color: #212121
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid red
}

.aside-link {
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    color: darkgray;
}

.aside-link:hover,
.aside-link:focus {
    color: blueviolet;
}

header, footer {
    background-color: #212121;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 25% auto;
}

.aside-item {
    margin-top: 15px;
}

main {
    padding: 20px;
}

.data-list {
    font-size: 16px;
    color: darkgray;
}

.data-item:not(:first-child){
    margin-top: 15px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
