#sidebar{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
#sidebar ul{
  list-style: none;
}
#sidebar ul a:hover{
  background-color: blueviolet;
  color:black;
}
#content{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}
#content ul{
  list-style: none;
}
#content li{
  color: green;
  padding-left: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(215, 230, 230);
}
