body {
    margin-top: 10px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
    background-color: bisque;
    border: 3px solid aqua;
}

.list-group {
    list-style: none;
    border: 3px solid aqua;
    background-color: bisque;
}