body {
    margin-top: 20px;
    background-color: lightgray;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    font-size: 25px;
}

.content {
    font-size: 30px;
    margin-bottom: 20px;
}

.service-info {
    list-style: none;
    padding: 0;
    font-size: 24px;
}