body {
    font-family: Arial, sans-serif;
}

#content {
    margin-left: 200px;
    padding: 20px;
}

aside {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f4f4f4;
    padding: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}
