/* Styles for Taxi Service */
body {
}

ul {
    list-style-type: none;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #126a11;
    color: #fff;
    box-sizing: border-box;
    position: fixed;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #2980b9;
}
