<div class="list-group list-group-flush">
  <ul class="sidebar-nav">
    <li>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'taxi:index' %}">Home page</a>
    </li>

    <li>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Manufacturers</a>
    </li>

    <li>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Cars</a>
    </li>

    <li>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Drivers</a>
    </li>
  </ul>
</div>
