<aside id="sidebar" class="bg-dark">
  <ul class="sidebar-nav p-0">
    <li class="sidebar-item">
      <a href="/" class="sidebar-link">
        <i class="lni lni-home-2"></i>
        <span>Home page</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <i class="lni lni-gear-1"></i>
        <span>Manufacturers</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <i class="lni lni-car-4"></i>
        <span>Cars</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <i class="lni lni-user-4"></i>
        <span>Drivers</span>
      </a>
    </li>
  </ul>
</aside>
