{% load static %}
<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Taxi Service — Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h1>Home page</h1>
    <h2>Taxi Service</h2>
    <ul>
      <li>Manufacturers: {{ num_manufacturers }}</li>
      <li>Cars: {{ num_cars }}</li>
      <li>Drivers: {{ num_drivers }}</li>
    </ul>
  </body>
</html>
