{% extends "base.html" %}

{% block title %}Manufacturers List | Taxi Service{% endblock %}

{% block content %}
    <h1>Manufacturer List</h1>

    {% if manufacturer_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                {% for manufacturer in manufacturer_list %}
                    <tr>
                        <td>{{ manufacturer.name }}</td>
                        <td>{{ manufacturer.country }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No manufacturers found in the database.</p>
    {% endif %}

    <p><a href="{% url 'taxi:index' %}">Go back to the Dashboard</a></p>
{% endblock %}