<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-5 mt-5">
      <a href="{% url 'taxi:index' %}" class="list-group-item list-group-item-action py-2 ripple">
        <i class="bi bi-house-heart-fill"></i>
        <span>Home page</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple">
        <i class="bi bi-building"></i>
        <span>Manufacturers</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple">
        <i class="bi bi-car-front"></i>
        <span>Cars</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple">
        <i class="bi bi-person-circle"></i>
        <span>Drivers</span></a>
    </div>
  </div>
</nav>