{% extends 'base.html'%}

{% block sidebar %}
<ul class="nav justify-content-center">
  <li class="nav-item shadow-sm">
    <a class="nav-link border-left rounded" href="http://127.0.0.1:8000/">Home page</a>
  </li>
  <li class="nav-item shadow-sm">
    <a class="nav-link border-left" href="#cars">Cars</a>
  </li>
  <li class="nav-item shadow-sm">
    <a class="nav-link border-left border-right" href="#drivers">Drivers</a>
  </li>
  <li class="nav-item shadow-sm">
    <a class="nav-link border-right rounded" href="#manufactures">Manufactures</a>
  </li>
</ul>
{% endblock %}
