body{
    background-color: ghostwhite;
}

.sidebar {
    height: 275px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 70px;
    border-style: solid;
    border-color: darkgrey;
}

.sidebar a {
    padding: 15px;
    font-size: 20px;
    display: block;
    text-decoration: none
}

.sidebar_a{
    border-bottom-style: solid;
    border-bottom-color: darkgrey;
}

.content {
    margin-left: 300px;
    font-size: 18px;
}

.content li{
    padding-bottom: 4px;
}